h1, p {
    text-align: center;
}

ol:hover {
    background-color: rgb(172, 140, 202);
}

li:active{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, ul {
    list-style: none;
}